@import '~bootstrap/scss/bootstrap.scss';

html, body {
  background-color: $light;
}

.d-flex {
  .input-group {
    width: auto;

    & + .input-group {
      margin-left: 1rem;
    }

    .form-control {
      font-size: 0.8rem;
      line-height: 1.2;
      padding: 0.35rem 0.5rem;
    }

    .form-label {
      font-size: 0.8rem;
    }
  }
}

.header {
  background-color: white;
  box-shadow: 1px 0 4px rgba(0,0,0,0.3);
  padding: 0.8rem 0;
  
  .summary {
    text-align: right;

    h6 {
      cursor: pointer;
    }
  }
}